<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projet JavaScript - Countdown</title>

    <!-- styles -->
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <section class="section-center">
        <article class="gift-img">
          <img src="../gift.jpeg" alt="gift img">
        </article>
        <article class="gift-info">
            <h3>old iphone giveaway</h3>
            <h4 class="giveaway">giveaway ends on sunday, 22 septembre 2021 21h30</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, ullam minima aspernatur officiis exercitationem cumque eius, error fugiat aliquam porro sit debitis dolore asperiores laborum sed. Corporis mollitia commodi quos!
            </p>
        </article>
        <div class="deadline">
          <!-- days -->
          <div class="deadline-format">
            <h4 class="days">34</h4>
            <span>days</span>
          </div>
          <!-- end of days -->
          <!-- days -->
          <div class="deadline-format">
            <h4 class="days">34</h4>
            <span>hours</span>
          </div>
          <!-- end of days -->
          <!-- days -->
          <div class="deadline-format">
            <h4 class="days">34</h4>
            <span>mins</span>
          </div>
          <!-- end of days -->
          <!-- days -->
          <div class="deadline-format">
            <h4 class="days">34</h4>
            <span>secs</span>
          </div>
          <!-- end of days -->
        </div>
    </section>
    <!-- javascript -->
    <script src="../script/app.js"></script>
  </body>
</html>